{:paths ["src" "resources"]
 :deps  {org.clojure/clojure {:mvn/version "1.12.0-alpha2"}
         org.clojure/math.combinatorics {:mvn/version "0.1.6"}
         hashp/hashp {:mvn/version "0.2.2"}}
 :aliases
 {:neil {:project {:name advent-of-code-2022/advent-of-code-2022}}}}
